<div class="custom-file">
    <button class="btn btn-dashed" onclick="alertify.genericDialog ($('#uploadfile')[0]); return false;">+ TẢI ẢNH</button>
    <input id="Files" type="text" name="Files" value="@ViewBag.Files" />
</div>
<div class="custom-file">
    <span class="filecount" style="color:red"></span>
</div>
