
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <section class="content">
        <div class="page animsition">
            <div class="page-content">
                <div class="row">
                    Chào mừng @User.Identity.Name
                </div>
            </div>
        </div>
    </section>