@{ 
    Layout = null;
}


<nav class="navbar navbar-inverse-blue" id="main_navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_id">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-shopping-cart"></i> My Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar_id">
            <ul class="nav navbar-nav navbar-left">
                <li class="divider"></li>
                <li class="dropdown-full no-border-radius no-shadow">
                    <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"><i class="fa fa-gift"></i> Collections<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <h5 style="border-bottom: 1px solid #2d7e8c;">Today's Featured Collections</h5>

                                <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#"><i class="fa fa-trophy"></i> dresses</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> sweaters</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> swimwear</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> outerwear</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> leggings</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> intimates</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> loungewear</a></li>
                                </ul>
                                <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#"><i class="fa fa-trophy"></i> blazers</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> jackets</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> shorts</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> skirts</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> suiting</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> sleepwear</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> activewear</a></li>
                                </ul>
                                <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <li class="divider"></li>
                                    <li><a href="#">All Featured Collections</a></li>
                                </ul>


                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <h5 style="border-bottom: 1px solid #2d7e8c;">Top Trending Collections</h5>
                                <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#"><i class="fa fa-trophy"></i> dresses</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> sweaters</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> swimwear</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> outerwear</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> leggings</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> intimates</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> loungewear</a></li>
                                </ul>
                                <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#"><i class="fa fa-trophy"></i> blazers</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> jackets</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> shorts</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> skirts</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> suiting</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> sleepwear</a></li>
                                    <li><a href="#"><i class="fa fa-trophy"></i> activewear</a></li>
                                </ul>
                                <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <li class="divider"></li>
                                    <li><a href="#">All Trending Collections</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul>
                                    <li>
                                        <div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="4000">
                                            <div class="carousel-inner">
                                                <div class="item active" style="padding-left:15px; padding-right:15px;">
                                                    <a href="#"><img src="http://placehold.it/254x144/3498db/f5f5f5/&amp;text=New+Collection" class="img-responsive no-padding col-xs-12" alt="product 1"></a>
                                                    <h4><small>Summer dress floral prints</small></h4>
                                                    <button class="btn btn-primary" type="button"><i class="fa fa-shopping-cart"></i>  49,99 €</button>
                                                    <button href="#" class="btn btn-default pull-right" type="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Add </span>to Wishlist</button>
                                                </div><!-- End Item -->
                                                <div class="item" style="padding-left:15px; padding-right:15px;">
                                                    <a href="#"><img src="http://placehold.it/254x144/ef5e55/f5f5f5/&amp;text=New+Collection" class="img-responsive no-padding  col-xs-12" alt="product 2"></a>
                                                    <h4><small>Gold sandals with shiny touch</small></h4>
                                                    <button class="btn btn-danger" type="button"><i class="fa fa-shopping-cart"></i>  19,99 €</button>
                                                    <button href="#" class="btn btn-default pull-right" type="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Add </span> to Wishlist</button>
                                                </div><!-- End Item -->
                                                <div class="item" style="padding-left:15px; padding-right:15px;">
                                                    <a href="#"><img src="http://placehold.it/254x144/2ecc71/f5f5f5/&amp;text=New+Collection" class="img-responsive no-padding  col-xs-12" alt="product 3"></a>
                                                    <h4><small>Denin jacket stamped</small></h4>
                                                    <button class="btn btn-success" type="button"><i class="fa fa-shopping-cart"></i>  49,99 €</button>
                                                    <button href="#" class="btn btn-default  pull-right" type="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Add </span> to Wishlist</button>
                                                </div><!-- End Item -->
                                            </div><!-- End Carousel Inner -->
                                        </div><!-- /.carousel -->
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">View all Collection <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <!-- dropdown active -->
                <li class="dropdown-full no-border-radius no-shadow">
                    <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"><i class="fa fa-leaf"></i>&nbsp;<span class="hidden-sm hidden-md">Envato Market</span><span class="caret"></span></a>
                    <div class="dropdown-menu no-padding HingeUpToDown">
                        <ul>
                            <li class="col-sm-12 dropdown-header text-center" style="padding-bottom: 15px; border-bottom: 1px solid #555; background: #1abc9c;color: white; margin: 0 -1px; width: calc(100% + 2px);">
                                <button type="button" class="close" onclick="$(this).closest('.dropdown-full').removeClass('open').children('.dropdown-toggle').attr('aria-expanded',false)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4><i class="fa fa-refresh fa-spin"></i> Everything you need for your next creative project.</h4>
                                <small class="" style="font-size: 13px; font-weight: normal; white-space: normal;">Over 4.5 million digital products created by a global community of designers, developers, photographers, illustrators & producers.</small>
                                <p class="" style="font-size: 14px; font-weight: normal;"><i class="fa fa-arrow-down"></i> Try to click... <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i> Try to resize</p>
                            </li>
                        </ul>
                        <ul id="myTab" style="margin-top: 1px;">
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#themeforest" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #1abc9c"></i> Themeforest<span class="desc"> marketplace</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#codecanyon" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #e78733;"></i> Codecanyon<span class="desc"> marketplace</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#videohive" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #e7a802;"></i> Videohive<span class="desc"> marketplace</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#activeden" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #d35400;"></i> Activeden<span class="desc"> marketplace</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#3docean" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #ab0f34;"></i> 3docean<span class="desc"> marketplace</span></a></li>
                            <li class="hidden-sm hidden-md hidden-lg col-xs-6 no-padding"><a href="#graphicriver" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #308eb1"></i> Graphicriver<span class="desc"> marketplace</span></a></li>
                            <li class="hidden-sm hidden-md hidden-lg col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#audiojungle" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #9ac130"></i> Audiojungle<span class="desc"> marketplace</span></a></li>
                            <li class="hidden-sm hidden-md hidden-lg col-xs-6 no-padding"><a href="#photodune" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #0f8c98"></i> Photodune<span class="desc"> marketplace</span></a></li>
                            <li class="hidden-xs col-lg-2 col-md-2 col-sm-2 no-padding no-border-radius no-shadow dropdown-center-onhover no-fix rtl">
                                <a data-toggle="collapse" data-target="#id_00dd16e9c70eb83e" class="dropdown-toggle collapsed"><i class="fa fa-star" style="color: #308eb1"></i><i class="fa fa-star" style="color: #9ac130"></i><i class="fa fa-star" style="color: #0f8c98"></i> More...<span class="desc">See more options</span></a>
                                <ul class="h-divided dropdown-menu no-padding collapse col-lg-2 col-md-2 col-sm-2 col-xs-6" style="min-width: calc(100% + 2px); max-width: calc(100% + 2px); left: 0!important" id="id_00dd16e9c70eb83e">
                                    <li class="more"><a href="#graphicriver" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #308eb1"></i> Graphicriver<span class="desc"> marketplace</span></a></li>
                                    <li class="more"><a href="#audiojungle" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #9ac130"></i> Audiojungle<span class="desc"> marketplace</span></a></li>
                                    <li class="more"><a href="#photodune" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #0f8c98"></i> Photodune<span class="desc"> marketplace</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane" id="themeforest">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #1abc9c; color: white;">
                                            16,000+ Site Templates and Themes from $3
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">WordPress</a></li>
                                        <li><a href="#">HTML</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Marketing</a></li>
                                        <li><a href="#">CMS <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="#">eCommerce</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">PSD</a></li>
                                        <li><a href="#">Tumblr</a></li>
                                        <li><a href="#">Ghost</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Muse</a></li>
                                        <li><a href="#">Plugins</a></li>
                                        <li><a href="#">More...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="codecanyon">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #e78733; color: white;">
                                            10,000+ Scripts and Snippets from $2
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">PHP Scripts</a></li>
                                        <li><a href="#">WordPress</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">eCommerce</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                        <li><a href="#">CSS</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">HTML5</a></li>
                                        <li><a href="#">Skins</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">WP Themes</a></li>
                                        <li><a href="#">Plugins</a></li>
                                        <li><a href="#">More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="videohive">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #e7a802; color: white;">
                                            100,000+ Royalty Free Video Files from $2
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">Project Files</a></li>
                                        <li><a href="#">Product Promo</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Apple Motion</a></li>
                                        <li><a href="#">Motion Graphics</a></li>
                                        <li><a href="#">Stock Footage</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Cinema 4D Templates</a></li>
                                        <li><a href="#">Add Ons</a></li>
                                        <li><a href="#">Logo Files</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">News Files</a></li>
                                        <li><a href="#">Wedding Files</a></li>
                                        <li><a href="#">More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="activeden">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #d35400; color: white;">
                                            11,000+ Flash & Flex Files from $1
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">Unity 3D</a></li>
                                        <li><a href="#">Flash</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Animations</a></li>
                                        <li><a href="#">Games</a></li>
                                        <li><a href="#">Site Templates</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Video Players</a></li>
                                        <li><a href="#">Image Viewers</a></li>
                                        <li><a href="#">Flex</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Facebook Themes</a></li>
                                        <li><a href="#">JSFL Extensions</a></li>
                                        <li><a href="#">More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="3docean">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #ab0f34; color: white;">
                                            18,000+ 3D Models & Accessories from $1
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">3D Models</a></li>
                                        <li><a href="#">Cars</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">HDRI Images</a></li>
                                        <li><a href="#">CG Textures</a></li>
                                        <li><a href="#">Materials & Shaders</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Base Meshes</a></li>
                                        <li><a href="#">Scripts & Plugins</a></li>
                                        <li><a href="#">2D Concepts</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Animation Data</a></li>
                                        <li><a href="#">Render Setup</a></li>
                                        <li><a href="#">More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="graphicriver">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #308eb1; color: white;">
                                            285,000+ Stock Graphics Files from $1
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">Graphics</a></li>
                                        <li><a href="#">Print</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Web Elements</a></li>
                                        <li><a href="#">Add-ons</a></li>
                                        <li><a href="#">Vectors</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Presentations</a></li>
                                        <li><a href="#">Infographics</a></li>
                                        <li><a href="#">Icons</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Fonts</a></li>
                                        <li><a href="#">Logos</a></li>
                                        <li><a href="#">More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="audiojungle">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #9ac130; color: white;">
                                            195,800 Royalty Free Audio Files from $1
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">Music</a></li>
                                        <li><a href="#">Music Packs</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Sound Effects</a></li>
                                        <li><a href="#">Sound Packs</a></li>
                                        <li><a href="#">Custom Sounds</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Source Files</a></li>
                                        <li><a href="#">Source Packs</a></li>
                                        <li><a href="#">Custom Source</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Logos</a></li>
                                        <li><a href="#">Idents</a></li>
                                        <li><a href="#">More ...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="photodune">
                                <ul class="row no-margin">
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0;">
                                        <h4 style="background: #0f8c98 ; color: white;">
                                            Royalty Free Stock Photography from $3
                                        </h4>
                                    </li>
                                </ul>
                                <div class="divided">
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">All Items</a></li>
                                        <li><a href="#">Animals</a></li>
                                        <li><a href="#">Architecture</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Food</a></li>
                                        <li><a href="#">Health</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">People</a></li>
                                        <li><a href="#">Technology</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="#">Travel</a></li>
                                        <li><a href="#">Nature</a></li>
                                        <li><a href="#">More ...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Right side navigation-->
                <li style="padding:0 15px;">
                    <div class="btn-group btn-block" style="margin-top: 8px; margin-bottom: 8px;">
                        <button type="button" class="btn btn-block btn-warning dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> Shopping cart <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-eye"></i> View shopping cart</a></li>
                            <li><a href="#"><i class="fa fa-trash"></i> Reset shopping cart</a></li>
                            <li><a href="#"><i class="fa fa-money"></i> Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-paypal"></i> Pay with PayPal</a></li>
                            <li><a href="#"> <i class="fa fa-cc-visa"></i> Pay with Visa</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script id="script_tag">
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	    $('a[data-toggle="tab"]').parent('li').each(function() {
	        $(this).removeClass('active');
	    });
	})

	$('.carousel').carousel();
</script>
