@{ 
    Layout = null;
}

<nav class="navbar navbar-inverse menu-lg" id=main_navbar role=navigation>
    <div class=container-fluid>
        <div class=navbar-header>
            <button type=button class=navbar-toggle data-toggle=collapse data-target="#MegaNavbarID">
                <span class=sr-only>Toggle navigation</span>
                <span class=icon-bar></span><span class=icon-bar></span><span class=icon-bar></span>
            </button>
            <a class="navbar-brand navbar-left" href="index.html">
                <img height="30" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAAoCAYAAABdGbwdAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAAaJJREFUaEPtlsFKw0AQhn2VFLRawRQVVPCgF98pmGpTS6NS8CqIpyJCb76GBwsBRXwN3b3GXToKTaadTZusq84PHz3szuzmY7PN0qyIyE9E4KUuIfsHj6K7dYONzUXkv6jfNjyyWaAIb/jDyP7hs4h377GxhYj8V3j86RFBbYAWO0Rlgr6pDUDHZD4C7xIvcIvqBWkQSfhE97AjyEtByzguXsbTsCVo4k5CJziKNUFj2ur0bDwhA85iVZD6N/9Vp0ejBcmro6ZorQlsvGyKC9IbC+vn8HaWFnWSR+h6GbQgKCkUcbzcEyeNd6znLIoJ6jTfYL3SIy/2H9A1M8wr6CtFP4ILCYI1KoktQTridN34JJkLCleG0L+SWBUU1mOsN4axIOhdWWwK0sF6Y7AgglIEyd7Ondp4QjBSl3wDSnL504Kw+Sjd7VsoyYUFaVgQAQsiYEEELIiABRGwIAIWRMCCCFgQAQsiYEEELIiABRGwIAIWRMCCCFgQAQsiYEEELIiABRH8W0GtVYnV5DjbvIaSXGS8N0RrMihBCZQsFLM9e+knXRF/7l46tqEAAAAASUVORK5CYII=">
            </a>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="javascript:void(0);" class=toggle_fixing><i class="fa fa-chevron-down"></i>&nbsp;</a></li>
            </ul>
            <ul class="nav navbar-nav no-margin navbar-left hidden-sm hidden-md hidden-lg">
                <p class="navbar-text pull-left"><i class="fa fa-h-square"></i>&nbsp;<span class="hidden-sm hidden-md reverse">Text</span></p>
                <a href="javascript:void(0);" class="navbar-link  pull-left"><i class="fa fa-link"></i>&nbsp;<span class="hidden-sm hidden-md reverse">Link</span></a>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id=MegaNavbarID>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown-full no-shadow no-border-radius">
                    <a data-toggle=dropdown href="javascript:void(0);" class=dropdown-toggle><i class="fa fa-file-image-o"></i>&nbsp;<span class="hidden-sm hidden-md reverse">Galery</span><span class=caret></span></a>
                    <div class="dropdown-menu row">
                        <ul class=row>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <a href="javascript:void(0);">
                                    <div class="embed-responsive embed-responsive-16by9" style="margin: -5px -15px 10px -15px;">
                                        <img class=embed-responsive-item src="images/city.jpg" alt=meganavbar>
                                    </div>
                                    City item<span class=desc>Item description</span>
                                </a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <a href="javascript:void(0);">
                                    <div class="embed-responsive embed-responsive-16by9" style="margin: -5px -15px 10px -15px;">
                                        <img class=embed-responsive-item src="images/cars.jpg" alt=megamenu>
                                    </div>
                                    Cars item<span class=desc>Item description</span>
                                </a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <a href="javascript:void(0);">
                                    <div class="embed-responsive embed-responsive-16by9" style="margin: -5px -15px 10px -15px;">
                                        <img class=embed-responsive-item src="images/nature.jpg" alt="bootstrap megamenu">
                                    </div>
                                    Nature item<span class=desc>Item description</span>
                                </a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <a href="javascript:void(0);">
                                    <div class="embed-responsive embed-responsive-16by9" style="margin: -5px -15px 10px -15px;">
                                        <img class=embed-responsive-item src="images/animals.jpg" alt="bootstrap mega menu">
                                    </div>
                                    Animals item<span class=desc>Item description</span>
                                </a>
                            </li>
                        </ul> <br>
                        <ul class=row>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="javascript:void(0);"><img class=embed-responsive-item src="images/animals.jpg" alt="bootstrap navbar"></a>
                                </div>
                                <a href="javascript:void(0);">Animals item<span class=desc>Item description</span></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="javascript:void(0);"><img class=embed-responsive-item src="images/nature.jpg" alt="bootstrap navigation"></a>
                                </div>
                                <a href="javascript:void(0);">Nature item<span class=desc>Item description</span></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="javascript:void(0);"><img class=embed-responsive-item src="images/cars.jpg" alt="bootstrap navigation with submenu"></a>
                                </div>
                                <a href="javascript:void(0);">Cars item<span class=desc>Item description</span></a>
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="javascript:void(0);"><img class=embed-responsive-item src="images/city.jpg" alt="mega menu navigation"></a>
                                </div>
                                <a href="javascript:void(0);">City item<span class=desc>Item description</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class=divider></li>
                <li class=dropdown-short>
                    <a data-toggle=dropdown href="javascript:void(0);" class=dropdown-toggle><i class="fa fa-bars"></i>&nbsp;<span class="hidden-sm hidden-md reverse">Short</span><span class=caret></span></a>
                    <ul class=dropdown-menu>
                        <li class=dropdown-header>Header.</li>
                        <li class="divider no-margin"></li>
                        <li class=dropdown-right-onclick>
                            <a href="javascript:void(0);" data-toggle=collapse data-target="#id_1" class="dropdown-toggle collapsed"><i class="fa fa-bars"></i> With submenu<span class=desc>Drop down on click to the right</span></a>
                            <ul class="dropdown-menu collapse" id=id_1>
                                <li class=dropdown-header>Submenu header</li>
                                <li class=divider></li>
                                <li class=dropdown-right-onclick>
                                    <a href="javascript:void(0);" data-toggle=collapse data-target="#id_2" class="dropdown-toggle collapsed"><i class="fa fa-bars"></i> With submenu<span class=desc>Drop down on click to the right</span></a>
                                    <ul class="dropdown-menu collapse" id=id_2>
                                        <li class=dropdown-header>Submenu header</li>
                                        <li class=divider></li>
                                        <li><a href="javascript:void(0);" class="">Default item<span class=desc>Default item description</span></a></li>
                                        <li class=active><a href="javascript:void(0);" class="">Active item<span class=desc>Active item description</span></a></li>
                                        <li class= disabled><a href="javascript:void(0);" class="">Disabled item<span class=desc>Disabled item description</span></a></li>
                                        <li class=open><a href="javascript:void(0);" class="">Open item<span class=desc>Open item description</span></a></li>
                                        <li class=divider></li>
                                        <li>
                                            <p><a href="#"><i class="fa fa-link"></i> Regular link<span class=desc>Regular link description</span></a></p>
                                        </li>
                                        <li class=divider></li>
                                        <li><a href="javascript:void(0);">Separated link</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0);" class="">Default item<span class=desc>Default item description</span></a></li>
                                <li class=active><a href="javascript:void(0);" class="">Active item<span class=desc>Active item description</span></a></li>
                                <li class= disabled><a href="javascript:void(0);" class="">Disabled item<span class=desc>Disabled item description</span></a></li>
                                <li class=open><a href="javascript:void(0);" class="">Open item<span class=desc>Open item description</span></a></li>
                                <li class=divider></li>
                                <li>
                                    <p><a href="#"><i class="fa fa-link"></i> Regular link<span class=desc>Regular link description</span></a></p>
                                </li>
                                <li class=divider></li>
                                <li><a href="javascript:void(0);">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="no-margin divider"></li>
                        <li class="dropdown-left-onhover caret-left">
                            <a href="javascript:void(0);" data-toggle=collapse data-target="#id_123" class="dropdown-toggle collapsed"><i class="fa fa-bars"></i> With submenu<span class=desc>Drop down on hover to the left<br>& fix on click</span></a>
                            <ul class="dropdown-menu collapse" id=id_123>
                                <li class=dropdown-header>Submenu header</li>
                                <li class=divider></li>
                                <li class="dropdown-right-onhover no-fix">
                                    <a href="javascript:void(0);" data-toggle=collapse data-target="#id_12311" class="dropdown-toggle collapsed"><i class="fa fa-bars"></i> With submenu<span class=desc>Drop down on hover to the right<br>& don't fix on click</span></a>
                                    <ul class="dropdown-menu collapse" id=id_12311>
                                        <li class=dropdown-header>Submenu header</li>
                                        <li class=divider></li>
                                        <li><a href="javascript:void(0);" class="">Default item<span class=desc>Default item description</span></a></li>
                                        <li class=active><a href="javascript:void(0);" class="">Active item<span class=desc>Active item description</span></a></li>
                                        <li class= disabled><a href="javascript:void(0);" class="">Disabled item<span class=desc>Disabled item description</span></a></li>
                                        <li class=open><a href="javascript:void(0);" class="">Open item<span class=desc>Open item description</span></a></li>
                                        <li class=divider></li>
                                        <li>
                                            <p><a href="#"><i class="fa fa-link"></i> Regular link<span class=desc>Regular link description</span></a></p>
                                        </li>
                                        <li class=divider></li>
                                        <li><a href="javascript:void(0);">Separated link</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0);" class="">Default item<span class=desc>Default item description</span></a></li>
                                <li class=active><a href="javascript:void(0);" class="">Active item<span class=desc>Active item description</span></a></li>
                                <li class= disabled><a href="javascript:void(0);" class="">Disabled item<span class=desc>Disabled item description</span></a></li>
                                <li class=open><a href="javascript:void(0);" class="">Open item<span class=desc>Open item description</span></a></li>
                                <li class=divider></li>
                                <li>
                                    <p><a href="#"><i class="fa fa-link"></i> Regular link<span class=desc>Regular link description</span></a></p>
                                </li>
                                <li class=divider></li>
                                <li><a href="javascript:void(0);">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="no-margin divider"></li>
                        <li><a href="javascript:void(0);">Default item<span class=desc>Default item description</span></a></li>
                        <li class=active><a href="javascript:void(0);" class="">Active item<span class=desc>Active item description</span></a></li>
                        <li class= disabled><a href="javascript:void(0);" class="">Disabled item<span class=desc>Disabled item description</span></a></li>
                        <li class=open><a href="javascript:void(0);" class="">Open item<span class=desc>Open item description</span></a></li>
                        <li class=divider></li>
                        <li>
                            <p><a href="#">Regular link<span class=desc>Regular link description</span></a></p>
                        </li>
                        <li class=divider></li>
                        <li>
                            <form class="navbar-form navbar-right" role=search style="margin-left: -15px;">
                                <div class=input-group><input placeholder=input class=form-control><span class=input-group-btn><button class="btn btn-default" type=button><i class="fa fa-search"></i>&nbsp;</button></span></div>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class=divider></li>
                <li class="dropdown-full no-border-radius no-shadow active">
                    <a data-toggle=dropdown href="javascript:void(0);" class=dropdown-toggle><i class="fa fa-leaf"></i>&nbsp;<span class="hidden-sm hidden-md reverse">Active</span><span class=caret></span></a>
                    <div class="dropdown-menu no-padding HingeUpToDown">
                        <ul>
                            <li class="col-sm-12 dropdown-header text-center" style="padding-bottom: 15px; border-bottom: 1px solid #555; background: #444444;color: white; margin-top: 15px; margin-bottom: 0;">
                                <button type=button class=close onclick="$(this).closest('.dropdown-full').removeClass('open').children('.dropdown-toggle').attr('aria-expanded',false)"><span aria-hidden=true>&times;</span><span class=sr-only>Close</span></button>
                                <h4 style="white-space: normal; color: rgb(44, 206, 255);"><i class="fa fa-refresh fa-spin"></i> Everything you need for your next creative project.</h4>
                                <p class="text-justify" style="font-family: cursive; font-size: 13px; font-weight: normal; white-space: normal;"><i class="fa fa-tags"></i> MegaNavbar is pure HTML5/CSS3 navigation component, that use the standard navbar markup, and the fluid grid system classes from Bootstrap 3.0+. Work for fixed and responsive layout, and has the facility to include other Bootstrap components. MegaNavbar is compatible with mobile devices and modern web browsers.</p>
                                <p class="text-justify" style="font-family: cursive; font-size: 13px; font-weight: normal; white-space: normal;"><i class="fa fa-tags"></i> The MegaNavbar have 100% responsive layout design and retina display ready with Font Awesome Icons Included! You can use Bootstrap column grid system with this component also you can use custom widgets like videos, Google Maps, text widgets, tables, forms, media elements, carousel elements, buttons and so more…</p>
                                <p class="" style="font-size: 14px; font-weight: normal; color: orange;"><i class="fa fa-arrow-down"></i> Try to click... <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i> Try to resize</p>
                            </li>
                        </ul>
                        <ul id=myTab style="margin-top: 1px;">
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#themeforest" role=tab data-toggle=tab><i class="fa fa-star" style="color: #1abc9c"></i> Megamenu<span class=desc> Bootstrap megamenu, bootstrap mega menu, bootstrap megamenu, mega menu bootstrap, megamenu bootstrap, bootstrap navbar, bootstrap navigation, bootstrap navigation with submenu, bootstrap responsive navigation menu, meganavbar, mega menu navigation, megamenu navigation, navigation menu, horizontal menu, horizontal megamenu menu, horizontal mega menu menu, html5 megamenu menu, mega menu, megamenu, menu css3, css3 megamenu, responsive menu, responsive navigation menu, responsive menu bar, responsive menu bootstrap</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#codecanyon" role=tab data-toggle=tab><i class="fa fa-star" style="color: #e78733;"></i> Meganavbar<span class=desc> Bootstrap navbar, bootstrap mega menu, bootstrap megamenu, mega menu bootstrap, megamenu bootstrap, bootstrap navbar, bootstrap navigation, bootstrap navigation with submenu, bootstrap responsive navigation menu, meganavbar, mega menu navigation, megamenu navigation, navigation menu, horizontal menu, horizontal megamenu menu, horizontal mega menu menu, html5 megamenu menu, mega menu, megamenu, menu css3, css3 megamenu, responsive menu, responsive navigation menu, responsive menu bar, responsive menu bootstrap</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#videohive" role=tab data-toggle=tab><i class="fa fa-star" style="color: #e7a802;"></i> Responsive menu<span class=desc> Bootstrap responsive menu,  bootstrap mega menu, bootstrap megamenu, mega menu bootstrap, megamenu bootstrap, bootstrap navbar, bootstrap navigation, bootstrap navigation with submenu, bootstrap responsive navigation menu, meganavbar, mega menu navigation, megamenu navigation, navigation menu, horizontal menu, horizontal megamenu menu, horizontal mega menu menu, html5 megamenu menu, mega menu, megamenu, menu css3, css3 megamenu, responsive menu, responsive navigation menu, responsive menu bar, responsive menu bootstrap</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#activeden" role=tab data-toggle=tab><i class="fa fa-star" style="color: #d35400;"></i> Responsive navigation menu<span class=desc> Bootstrap responsive navigation menu, bootstrap mega menu, bootstrap megamenu, mega menu bootstrap, megamenu bootstrap, bootstrap navbar, bootstrap navigation, bootstrap navigation with submenu, bootstrap responsive navigation menu, meganavbar, mega menu navigation, megamenu navigation, navigation menu, horizontal menu, horizontal megamenu menu, horizontal mega menu menu, html5 megamenu menu, mega menu, megamenu, menu css3, css3 megamenu, responsive menu, responsive navigation menu, responsive menu bar, responsive menu bootstrap</span></a></li>
                            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#3docean" role=tab data-toggle=tab><i class="fa fa-star" style="color: #ab0f34;"></i> Mega menu navigation<span class=desc> Bootstrap mega menu, bootstrap megamenu, mega menu bootstrap, megamenu bootstrap, bootstrap navbar, bootstrap navigation, bootstrap navigation with submenu, bootstrap responsive navigation menu, meganavbar, mega menu navigation, megamenu navigation, navigation menu, horizontal menu, horizontal megamenu menu, horizontal mega menu menu, html5 megamenu menu, mega menu, megamenu, menu css3, css3 megamenu, responsive menu, responsive navigation menu, responsive menu bar, responsive menu bootstrap</span></a></li>
                            <li class="hidden-sm hidden-md hidden-lg col-xs-6 no-padding"><a href="#graphicriver" role=tab data-toggle=tab><i class="fa fa-star" style="color: #308eb1"></i> Bootstrap navbar<span class=desc> bootstrap navigation, bootstrap navigation with submenu, bootstrap responsive navigation menu, meganavbar, mega menu navigation, megamenu navigation, navigation menu, horizontal menu, horizontal megamenu menu, horizontal mega menu menu, html5 megamenu menu, mega menu, megamenu, menu css3, css3 megamenu, responsive menu, responsive navigation menu, responsive menu bar, responsive menu bootstrap</span></a></li>
                            <li class="hidden-sm hidden-md hidden-lg col-xs-6 no-padding" style="border-right: 1px solid #555;"><a href="#audiojungle" role=tab data-toggle=tab><i class="fa fa-star" style="color: #9ac130"></i> Bootstrap navigation<span class=desc> bootstrap, bootstrap menu, bootstrap navbar, bootstrap navigation, drop down menu, dropdown menu, horizontal menu, html5 menu, mega menu, megamenu, meganavbar, menu css3, navigation menu, responsive, responsive menu</span></a></li>
                            <li class="hidden-sm hidden-md hidden-lg col-xs-6 no-padding"><a href="#photodune" role=tab data-toggle=tab><i class="fa fa-star" style="color: #0f8c98"></i> Bootstrap menu<span class=desc> responsive navigation menu, meganavbar, mega menu navigation, megamenu navigation, navigation menu, horizontal menu, horizontal megamenu menu, horizontal mega menu menu, html5 megamenu menu, mega menu, megamenu, menu css3, css3 megamenu, responsive menu, responsive navigation menu, responsive menu bar, responsive menu bootstrap</span></a></li>
                            <li class="hidden-xs col-lg-2 col-md-2 col-sm-2 no-padding no-border-radius no-shadow dropdown-center-onhover no-fix rtl">
                                <a data-toggle=collapse data-target="#id_3" class="dropdown-toggle collapsed"><i class="fa fa-star" style="color: #308eb1"></i><i class="fa fa-star" style="color: #9ac130"></i><i class="fa fa-star" style="color: #0f8c98"></i> More...<span class=desc>See more options</span></a>
                                <ul class="h-divided dropdown-menu no-padding collapse col-lg-2 col-md-2 col-sm-2 col-xs-6" style="min-width: calc(100% + 2px); max-width: calc(100% + 2px); right: -5px!important; right: calc(0px - 2px)!important; width: 100%!important; width: calc(100% + 2px)!important;" id=id_3>
                                    <li class=more><a href="#graphicriver" role=tab data-toggle=tab><i class="fa fa-star" style="color: #308eb1"></i> Bootstrap navbar<span class=desc> bootstrap, bootstrap menu, bootstrap navbar, bootstrap navigation, drop down menu, dropdown menu, horizontal menu, html5 menu, mega menu, megamenu, meganavbar, menu css3, navigation menu, responsive, responsive menu</span></a></li>
                                    <li class=more><a href="#audiojungle" role=tab data-toggle=tab><i class="fa fa-star" style="color: #9ac130"></i> Bootstrap navigation<span class=desc> bootstrap, bootstrap menu, bootstrap navbar, bootstrap navigation, drop down menu, dropdown menu, horizontal menu, html5 menu, mega menu, megamenu, meganavbar, menu css3, navigation menu, responsive, responsive menu</span></a></li>
                                    <li class=more><a href="#photodune" role=tab data-toggle=tab><i class="fa fa-star" style="color: #0f8c98"></i> Bootstrap menu<span class=desc> bootstrap, bootstrap menu, bootstrap navbar, bootstrap navigation, drop down menu, dropdown menu, horizontal menu, html5 menu, mega menu, megamenu, meganavbar, menu css3, navigation menu, responsive, responsive menu</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id=myTabContent class=tab-content>
                            <div class=tab-pane id=themeforest>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #1abc9c; color: white;">
                                            100% Responsive Layout Design
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu <span class="label label-danger pull-right"><i class="fa fa-exclamation-triangle"></i> New</span></a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3 <span class="label label-success pull-right"><i class="fa fa-css3"></i></span></a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-success pull-right"><i class="fa fa-css3"></i></span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu <span class="label label-warning pull-right"><i class="fa fa-html5"></i></span></a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu <span class="label label-default pull-right"><i class="fa fa-refresh fa-spin"></i></span></a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar <span class="label label-info pull-right"><i class="fa fa-tags"></i></span></a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class=tab-pane id=codecanyon>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #e78733; color: white;">
                                            Bootstrap Columns Grid based
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu</a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3</a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu </a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu</a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id=videohive>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #e7a802; color: white;">
                                            Bootstrap navigation with submenu
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu</a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu</a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3</a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id=activeden>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #d35400; color: white;">
                                            Numerous submenu display options
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3</a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu </a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu</a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu</a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id=3docean>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #ab0f34; color: white;">
                                            Full support of RTL languages
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu</a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3</a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu </a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu</a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id=graphicriver>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #308eb1; color: white;">
                                            Skins LESS & SASS powered
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu</a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3</a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu </a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu</a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id=audiojungle>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #9ac130; color: white;">
                                            Easy integration to any Web Projects
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu</a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu</a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3</a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id=photodune>
                                <ul class=row>
                                    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
                                        <h4 style="background: #0f8c98 ; color: white;">
                                            Left or right submenu alignment
                                        </h4>
                                    </li>
                                </ul>
                                <div class=divided>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Menu CSS3</a></li>
                                        <li><a href="javascript:void(0);">CSS3 megamenu <span class="label label-danger pull-right">New</span></a></li>
                                        <li><a href="javascript:void(0);">HTML5 megamenu </a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Responsive menu</a></li>
                                        <li><a href="javascript:void(0);">Responsive megamenu</a></li>
                                        <li><a href="javascript:void(0);">Responsive navbar</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Bootstrap megamenu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap mega menu</a></li>
                                        <li><a href="javascript:void(0);">Bootstrap Navigation</a></li>
                                    </ul>
                                    <ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
                                        <li><a href="javascript:void(0);">Megamenu</a></li>
                                        <li><a href="javascript:void(0);">Mega menu</a></li>
                                        <li><a href="javascript:void(0);">Navigation menu</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=divider></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form-expanded navbar-form navbar-left visible-lg-block visible-md-block visible-xs-block" role=search>
                    <div class="input-group">
                        <input class=form-control data-width=80px data-width-expanded=170px placeholder=Search name=query>
                        <span class=input-group-btn><button class="btn btn-default" type=submit><i class="fa fa-search"></i>&nbsp;</button></span>
                    </div>
                </form>
                <li class="dropdown-grid visible-sm-block">
                    <a data-toggle=dropdown href="javascript:void(0);" class=dropdown-toggle><i class="fa fa-search"></i>&nbsp;</a>
                    <div class=dropdown-grid-wrapper role=menu>
                        <ul class="dropdown-menu col-sm-6">
                            <li>
                                <form class=no-margin>
                                    <div class=input-group>
                                        <input class=form-control>
                                        <span class=input-group-btn><button class="btn btn-default" type=submit>&nbsp;<i class="fa fa-search"></i></button></span>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class=dropdown-grid>
                    <a data-toggle=dropdown href="javascript:void(0);" class=dropdown-toggle><i class="fa fa-tasks"></i>&nbsp;<span class="hidden-sm hidden-md reverse">Media</span><span class=caret></span></a>
                    <div class=dropdown-grid-wrapper role=menu>
                        <ul class="dropdown-menu col-xs-12 col-sm-9 col-md-8 col-lg-7">
                            <li>
                                <div id=carousel-eg class="carousel slide" data-ride=carousel>
                                    <div class=row>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 divided">
                                            <ol class="carousel-indicators navbar-carousel-indicators h-divided">
                                                <li data-target="#carousel-eg" data-slide-to=0 class=active><a href="javascript:void(0);" class="">Cars<span class="hidden-sm hidden-xs desc">Cars description</span></a></li>
                                                <li data-target="#carousel-eg" data-slide-to=1 class=""><a href="javascript:void(0);" class="">Animals<span class="hidden-sm hidden-xs desc">Slide with caption</span></a></li>
                                                <li data-target="#carousel-eg" data-slide-to=2 class=""><a href="javascript:void(0);" class="">Nature<span class="hidden-sm hidden-xs desc">Nature description</span></a></li>
                                                <li data-target="#carousel-eg" data-slide-to=3 class=""><a href="javascript:void(0);" class="">City<span class="hidden-sm hidden-xs desc">City description</span></a></li>
                                                <li data-target="#carousel-eg" data-slide-to=4 class=""><a href="javascript:void(0);" class="">Video<span class="hidden-sm hidden-xs desc">Video description</span></a></li>
                                            </ol>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <div class=carousel-inner>
                                                <div class="item active">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <img class=embed-responsive-item src="images/cars.jpg" alt="megamenu navigation">
                                                    </div>
                                                </div>
                                                <div class=item>
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <img class=embed-responsive-item src="images/animals.jpg" alt="navigation megamenu">
                                                        <div class=carousel-caption>
                                                            <h3>The Eurasian eagle-owl</h3>
                                                            <p>(Bubo bubo) is a species of eagle-owl resident in much of Eurasia. It is sometimes called the European eagle-owl</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=item>
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <img class=embed-responsive-item src="images/nature.jpg" alt="horizontal megamenu">
                                                    </div>
                                                </div>
                                                <div class=item>
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <img class=embed-responsive-item src="images/city.jpg" alt="horizontal mega menu">
                                                    </div>
                                                </div>
                                                <div class=item>
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/xQ_IQS3VKjA?rel=0" allowfullscreen=""></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class=dropdown-grid>
                    <a data-toggle=dropdown href="javascript:void(0);" class=dropdown-toggle><i class="fa fa-lock"></i>&nbsp;<span class="hidden-sm hidden-md hidden-lg reverse">Account</span><span class=caret></span></a>
                    <div class=dropdown-grid-wrapper role=menu>
                        <ul class="dropdown-menu col-xs-12 col-sm-10 col-md-8 col-lg-7">
                            <li>
                                <div id=carousel-example-account class=carousel>
                                    <div class=row>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <div class=carousel-inner>
                                                <div class="item active">
                                                    <h3 class=text-right style="padding-top:0px; border-bottom: 1px solid #555;"><i class="fa fa-lock"></i> Sign in</h3>
                                                    <br>
                                                    <form class=form-horizontal role= form>
                                                        <div class=form-group>
                                                            <label for=inputEmail3 class="col-sm-3 control-label">Email</label>
                                                            <div class=col-sm-9><input class="input-sm form-control" id=inputEmail3 placeholder=Email autocomplete=off></div>
                                                        </div>
                                                        <div class=form-group>
                                                            <label for=inputPassword3 class="col-sm-3 control-label">Password</label>
                                                            <div class=col-sm-9><input type=password class="input-sm form-control" id=inputPassword3 placeholder=Password autocomplete=off></div>
                                                        </div>
                                                        <div class=form-group>
                                                            <div class="col-sm-offset-3 col-sm-9">
                                                                <button class="btn btn-default pull-right" type=submit><i class="fa fa-unlock-alt"></i> Sign in</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <p class=text-primary style="cursor: pointer;" data-target="#carousel-example-account" data-slide-to=1><small>Don’t have a account? Sign up for FREE</small></p>
                                                    <p class=text-primary style="cursor: pointer;" data-target="#carousel-example-account" data-slide-to=2><small>Lost Your Username?</small></p>
                                                    <p class=text-primary style="cursor: pointer;" data-target="#carousel-example-account" data-slide-to=3><small>Lost Your Password?</small></p>
                                                </div>
                                                <div class=item>
                                                    <h3 class=text-right style="padding-top:0px; border-bottom: 1px solid #555;"><i class="fa fa-user"></i> Create new account</h3>
                                                    <br>
                                                    <form class=form-horizontal role= form>
                                                        <div class=form-group>
                                                            <label for=inputEmail3 class="col-sm-5 control-label">Email</label>
                                                            <div class=col-sm-7><input class="input-sm form-control" id=inputEmail3 placeholder="Enter your email address" autocomplete=off></div>
                                                        </div>
                                                        <div class=form-group>
                                                            <label for=inputPassword3 class="col-sm-5 control-label">Password</label>
                                                            <div class=col-sm-7><input type=password class="input-sm form-control" id=inputPassword3 placeholder="Enter password" autocomplete=off></div>
                                                        </div>
                                                        <div class=form-group>
                                                            <label for=inputPassword3 class="col-sm-5 control-label">Confirm password</label>
                                                            <div class=col-sm-7><input type=password class="input-sm form-control" id=inputPassword3 placeholder="Enter confirm password" autocomplete=off></div>
                                                        </div>
                                                        <div class=form-group>
                                                            <div class=col-sm-12>
                                                                <div class=checkbox>
                                                                    <label>
                                                                        <input type=checkbox> <small>I have read and agree to our<a href="javascript:void(0);">Terms of use</a> and <a href="javascript:void(0);">Privacy Policy</a>.</small>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class=form-group>
                                                            <div class="col-sm-offset-5 col-sm-7">
                                                                <button class="btn btn-default pull-right" type=submit><i class="fa fa-save"></i> Create an account</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class=item>
                                                    <h3 class=text-right style="padding-top:0px; border-bottom: 1px solid #555;"><i class="fa fa-warning"></i> Forgotten your Username?</h3>
                                                    <br>
                                                    <p class=text-justify>Enter your email address, you signed up with (or entered in your settings), and we'll send you an email with your username.</p>
                                                    <br>
                                                    <form id=lost_password method=post class= form role= form>
                                                        <div class=input-group>
                                                            <input class=form-control placeholder="Enter your username" autocomplete=off>
                                                            <span class=input-group-btn>
                                                                <button class="btn btn-default" type=button><i class="fa fa-envelope"></i> Send it to me!</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                    <br><br>
                                                    <p class=text-justify><small><i>If you've forgotten your username and password, you must first retrieve your username (using your email address) and then reset your password using those details.</i></small></p>
                                                </div>
                                                <div class=item>
                                                    <h3 class=text-right style="padding-top:0px; border-bottom: 1px solid #555;"><i class="fa fa-warning"></i> Forgot your password?</h3>
                                                    <br>
                                                    <p class=text-justify>
                                                        Enter your username, and we'll send you an email with a link and instructions to reset your password.
                                                        If you signed up without an email address (or removed it from settings), visit the FAQ.
                                                    </p>
                                                    <br>
                                                    <form id=lost_password method=post class= form role= form>
                                                        <div class=input-group>
                                                            <input class=form-control placeholder="Enter your username" autocomplete=off>
                                                            <span class=input-group-btn>
                                                                <button class="btn btn-default" type=button><i class="fa fa-envelope"></i> Send it to me!</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                    <br>
                                                    <p class=text-justify><small><i>If you've forgotten your username and password, you must first <span class=text-primary style="cursor: pointer;" data-target="#carousel-example-account" data-slide-to=2>retrieve your username</span> (using your email address) and then reset your password using those details.</i></small></p>
                                                </div>
                                                <div class=item>
                                                    <h3 class=text-right style="padding-top:0px; border-bottom: 1px solid #555;"><i class="fa fa-envelope"></i> Subscribe to our mailing list</h3>
                                                    <br>
                                                    <p class=text-justify><i><small>Get the freebies from us and latest updates about YourApp! We hate spam as much as you do, trust us we won't give your details away to other people.</small></i></p>
                                                    <br>
                                                    <form class=form-horizontal role= form>
                                                        <div class=form-group>
                                                            <label for=inputEmail class="col-sm-5 control-label">Your email address</label>
                                                            <div class=col-sm-7><input class="input-sm form-control" id=inputEmail name=inputEmail placeholder="Your email address"></div>
                                                        </div>
                                                        <div class=form-group>
                                                            <label for=inputName class="col-sm-5 control-label">Your Name</label>
                                                            <div class=col-sm-7><input class="input-sm form-control" id=inputName name=inputName placeholder="Your Name"></div>
                                                        </div>
                                                        <br>
                                                        <div class=form-group>
                                                            <div class="col-sm-offset-5 col-sm-7">
                                                                <button class="btn btn-default pull-right" type=submit><i class="fa fa-envelope-o"></i> Subscribe</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class=item>
                                                    <h3 class=text-right style="padding-top:0px; border-bottom: 1px solid #555;"><i class="fa fa-envelope"></i> Contact us</h3>
                                                    <br>
                                                    <div class=row>
                                                        <form class="" role= form>
                                                            <div class="col-xs-6 col-md-6 ">
                                                                <div class=form-group>
                                                                    <input class="input-sm form-control" id=inputName name=inputName placeholder="Enter your name">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-md-6 ">
                                                                <div class=form-group>
                                                                    <input type=password class="input-sm form-control" id=inputEmail name=inputEmail placeholder="Enter your email address">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-12 ">
                                                                <div class=form-group>
                                                                    <input type=password class="input-sm form-control" id=inputSubject name=inputSubject placeholder="Subject ...">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-12 ">
                                                                <div class=form-group>
                                                                    <textarea style="resize: none;" class=form-control id=inputMessage name=inputMessage placeholder=Message rows=3></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-offset-3 col-sm-9">
                                                                <button class="btn btn-default pull-right" type=submit><i class="fa fa-chevron-circle-right"></i> Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4" style="border-left: 1px solid #555;">
                                            <ol class="carousel-indicators navbar-carousel-indicators" style="">
                                                <li data-target="#carousel-example-account" data-slide-to=0 class=active><a href="javascript:void(0);">Sign In<span class="desc reverse">Already have an account? Log in</span></a></li>
                                                <li data-target="#carousel-example-account" data-slide-to=1 class=""><a href="javascript:void(0);">Sign Up<span class="desc reverse">Create new account</span></a></li>
                                                <li data-target="#carousel-example-account" data-slide-to=2 class=""><a href="javascript:void(0);">Forgot username?<span class="desc reverse">No problem, we can remind you by email</span></a></li>
                                                <li data-target="#carousel-example-account" data-slide-to=3 class=""><a href="javascript:void(0);">Forgot password?<span class="desc reverse">Don't worry, it happens!</span></a></li>
                                                <li data-target="#carousel-example-account" data-slide-to=4 class=""><a href="javascript:void(0);">Subscribe<span class="desc reverse">Subscribe to our Newsletters</span></a></li>
                                                <li data-target="#carousel-example-account" data-slide-to=5 class=""><a href="javascript:void(0);">Contact us<span class="desc reverse">If you have any questions ...</span></a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li style="padding:0 15px;">
                    <button type=button onclick="window.location.href = 'http://codecanyon.net/item/meganavbar-advanced-mega-menu-for-bootstrap-30/8516895?ref=alicantin'" class="btn btn-warning btn-block navbar-btn"><i class="fa fa-shopping-cart"></i>&nbsp;$5</button>
                </li>
            </ul>
        </div>
    </div>
</nav>