@{ 
    Layout = null;
}

<nav class="navbar navbar-default" id="main_navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#amazon_style">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="amazon_style">
            <ul class="nav navbar-nav navbar-left">

                <li class="dropdown am_style">
                    <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle"><i class="fa fa-shopping-cart"></i>&nbsp;<span class="hidden-sm hidden-md reverse">Shop by Department</span><span class="caret"></span></a>
                    <ul class="dropdown-menu no-border-radius no-shadow">

                        <!-- Electronics & Computers -->
                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#electronics_computers" class="dropdown-toggle collapsed">Electronics & Computers</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="electronics_computers">
                                <div class="row">
                                    <ul class="col-md-6">
                                        <li class="dropdown-header">Electronics</li>
                                        <li><a href="javascript:void(0);">TV & Video</a></li>
                                        <li><a href="javascript:void(0);">Home Audio & Theater</a></li>
                                        <li><a href="javascript:void(0);">Camera, Photo & Video</a></li>
                                        <li><a href="javascript:void(0);">Cell Phones & Accessories</a></li>
                                        <li><a href="javascript:void(0);">Headphones</a></li>
                                        <li><a href="javascript:void(0);">Video Games</a></li>
                                        <li><a href="javascript:void(0);">Bluetooth & Wireless Speakers</a></li>
                                        <li><a href="javascript:void(0);">Car Electronics & GPS</a></li>
                                        <li><a href="javascript:void(0);">Musical Instruments</a></li>
                                        <li><a href="javascript:void(0);">Electronics Accessories</a></li>
                                        <li><a href="javascript:void(0);">Wearable Technology</a></li>
                                    </ul>
                                    <ul class="col-md-6">
                                        <li class="dropdown-header">Computers</li>
                                        <li><a href="javascript:void(0);">Laptops & Tablets</a></li>
                                        <li><a href="javascript:void(0);">Desktops & Monitors</a></li>
                                        <li><a href="javascript:void(0);">Computer Accessories & Peripherals<span class="desc">External drives, mice, networking & more</span></a></li>
                                        <li><a href="javascript:void(0);">Computer Parts & Components</a></li>
                                        <li><a href="javascript:void(0);">Software <span class="desc">Downloads, subscriptions & more</span></a></li>
                                        <li><a href="javascript:void(0);">Printers & Ink</a></li>
                                        <li><a href="javascript:void(0);">Office & School Supplies</a></li>
                                        <li><a href="javascript:void(0);">Trade In Your Electronics</a></li>
                                        <li><a href="javascript:void(0);">Networking</a></li>
                                    </ul>
                                </div>
                            </ul>
                        </li>

                        <!-- Clothing, Shoes & Jewelry -->
                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#clothing_shoes_jewelry" class="dropdown-toggle collapsed">Clothing, Shoes & Jewelry</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="clothing_shoes_jewelry">
                                <li class="dropdown-header">Clothing, Shoes, Jewelry & Watches</li>
                                <img class="hidden-xs" src="images/clothing_m.png" style="position:absolute; bottom: 0px; right: -15px; width: 235px; height: 400px;">
                                <ul class="col-md-6 col-sm-6">
                                    <li><a href="javascript:void(0);">Women</a></li>
                                    <li><a href="javascript:void(0);">Men</a></li>
                                    <li><a href="javascript:void(0);">Girls</a></li>
                                    <li><a href="javascript:void(0);">Boys</a></li>
                                    <li><a href="javascript:void(0);">Baby</a></li>
                                    <li><a href="javascript:void(0);">Luggage</a></li>
                                    <li><a href="javascript:void(0);">Outerwear</a></li>
                                    <li class="divider hidden-xs"></li>
                                    <li><a href="javascript:void(0);">More to Explore</a></li>
                                </ul>
                            </ul>
                        </li>

                        <!-- Bags & Cases -->
                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#bags_cases" class="dropdown-toggle collapsed">Bags &amp; Cases</a>
                            <div class="dropdown-menu collapse no-border-radius no-shadow" id="bags_cases">
                                <img src="images/women_bag.png" style="position:absolute; bottom: -46px; right: -15px; width: 241px; height: 400px;">
                                <ul class="col-md-6 col-sm-6">
                                    <li class="dropdown-header">Bags &amp; Cases</li>
                                    <li><a href="javascript:void(0);">Backpacks</a></li>
                                    <li><a href="javascript:void(0);">Bags</a></li>
                                    <li><a href="javascript:void(0);">Cinch &amp; Sling Bags</a></li>
                                    <li><a href="javascript:void(0);">Briefcases &amp; Messengers</a></li>
                                    <li><a href="javascript:void(0);">Cooler Bags</a></li>
                                    <li><a href="javascript:void(0);">Duffels</a></li>
                                    <li><a href="javascript:void(0);">Rolling &amp; Travel Bags</a></li>
                                    <li><a href="javascript:void(0);">Specialty Bags</a></li>
                                    <li><a href="javascript:void(0);">Sports/Golf Bags</a></li>
                                    <li><a href="javascript:void(0);">Totes</a></li>
                                </ul>
                            </div>
                        </li>


                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#id_12" class="dropdown-toggle collapsed">Drinkware</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="id_12">
                                <li><a href="javascript:void(0);">Aluminum &amp; Stainless Sport Bottles</a></li>
                                <li><a href="javascript:void(0);">Bottles &amp; Tumblers</a></li>
                                <li><a href="javascript:void(0);">Cups</a></li>
                                <li><a href="javascript:void(0);">Drinkware Gift Sets</a></li>
                                <li><a href="javascript:void(0);">Glassware</a></li>
                                <li><a href="javascript:void(0);">Mugs</a></li>
                            </ul>
                        </li>

                        <!-- Beauty, Health & Grocery  -->
                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#beauty_health_grocery" class="dropdown-toggle collapsed">Beauty, Health & Grocery</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="beauty_health_grocery">
                                <li><a href="javascript:void(0);">Antibacterial</a></li>
                                <li><a href="javascript:void(0);">First Aid Kits</a></li>
                                <li><a href="javascript:void(0);">General Health &amp; Wellness</a></li>
                                <li><a href="javascript:void(0);">Pedometers</a></li>
                                <li><a href="javascript:void(0);">Sunscreens</a></li>
                            </ul>
                        </li>


                        <!-- Home, Garden & Tools -->
                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#home_garden_tools" class="dropdown-toggle collapsed">Home, Garden & Tools</a>
                            <div class="dropdown-menu collapse no-border-radius no-shadow" id="home_garden_tools">
                                <img src="images/grass.png" style="position:absolute; bottom: 0px; right: 0; width: 500px; height: 136px;">
                                <ul class="col-md-6 col-sm-6">
                                    <li class="dropdown-header">Home, Garden & Pets</li>
                                    <li><a href="javascript:void(0);">Home</a></li>
                                    <li><a href="javascript:void(0);">Kitchen & Dining</a></li>
                                    <li><a href="javascript:void(0);">Furniture & Décor</a></li>
                                    <li><a href="javascript:void(0);">Bedding & Bath</a></li>
                                    <li><a href="javascript:void(0);">Appliances</a></li>
                                    <li><a href="javascript:void(0);">Patio, Lawn & Garden</a></li>
                                    <li><a href="javascript:void(0);">Fine Art</a></li>
                                    <li><a href="javascript:void(0);">Arts, Crafts & Sewing</a></li>
                                    <li><a href="javascript:void(0);">Pet Supplies</a></li>
                                </ul>
                                <ul class="col-md-6 col-sm-6">
                                    <li class="dropdown-header">Tools, Home Improvement</li>
                                    <li><a href="javascript:void(0);">Home Improvement</a></li>
                                    <li><a href="javascript:void(0);">Power & Hand Tools</a></li>
                                    <li><a href="javascript:void(0);">Lamps & Light Fixtures</a></li>
                                    <li><a href="javascript:void(0);">Kitchen & Bath Fixtures</a></li>
                                    <li><a href="javascript:void(0);">Hardware</a></li>
                                    <li><a href="javascript:void(0);">Home Automation</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Sports & Outdoors -->
                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#sport_outdoors" class="dropdown-toggle collapsed">Sports & Outdoors</a>
                            <div class="dropdown-menu collapse no-border-radius no-shadow" id="sport_outdoors">
                                <!--img src="images/sports.png" style="position: absolute;bottom: -3px;right: -24px;height: 156px;"-->
                                <ul class="col-md-6 col-sm-6">
                                    <li class="dropdown-header">Sports</li>
                                    <li><a href="javascript:void(0);">Athletic Clothing</a></li>
                                    <li><a href="javascript:void(0);">Exercise & Fitness</a></li>
                                    <li><a href="javascript:void(0);">Hunting & Fishing</a></li>
                                    <li><a href="javascript:void(0);">Team Sports</a></li>
                                    <li><a href="javascript:void(0);">Fan Shop</a></li>
                                    <li><a href="javascript:void(0);">Golf</a></li>
                                    <li><a href="javascript:void(0);">Leisure Sports & Game Room</a></li>
                                    <li><a href="javascript:void(0);">Sports Collectibles</a></li>
                                    <li><a href="javascript:void(0);">All Sports & Fitness</a></li>
                                </ul>
                                <ul class="col-md-6 col-sm-6">
                                    <li class="dropdown-header">Outdoors</li>
                                    <li><a href="javascript:void(0);">Camping & Hiking</a></li>
                                    <li><a href="javascript:void(0);">Cycling</a></li>
                                    <li><a href="javascript:void(0);">Outdoor Clothing</a></li>
                                    <li><a href="javascript:void(0);">Scooters, Skateboards & Skates</a></li>
                                    <li><a href="javascript:void(0);">Water Sports</a></li>
                                    <li><a href="javascript:void(0);">Winter Sports</a></li>
                                    <li><a href="javascript:void(0);">Climbing</a></li>
                                    <li><a href="javascript:void(0);">Accessories</a></li>
                                    <li><a href="javascript:void(0);">All Outdoor Recreation</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#id_7" class="dropdown-toggle collapsed">Stationery</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="id_7">
                                <li><a href="javascript:void(0);">Jotters</a></li>
                                <li><a href="javascript:void(0);">Notebooks</a></li>
                                <li><a href="javascript:void(0);">Padfolios &amp; Writing Pads</a></li>
                            </ul>
                        </li>


                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#id_8" class="dropdown-toggle collapsed">Tools, Travel &amp; Auto</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="id_8">
                                <li><a href="javascript:void(0);">Auto Accessories</a></li>
                                <li><a href="javascript:void(0);">Tools</a></li>
                                <li><a href="javascript:void(0);">Travel</a></li>
                                <li><a href="javascript:void(0);">Travel Accessories</a></li>
                                <li><a href="javascript:void(0);">Umbrellas</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#id_10" class="dropdown-toggle collapsed">Writing</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="id_10">
                                <li><a href="javascript:void(0);">Click Pens</a></li>
                                <li><a href="javascript:void(0);">Mechanical Pens</a></li>
                                <li><a href="javascript:void(0);">Pencil &amp; Highlighter</a></li>
                                <li><a href="javascript:void(0);">Twist Pens</a></li>
                            </ul>
                        </li>

                        <li class="divider"></li>

                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#id_9" class="dropdown-toggle collapsed">Tradeshows</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="id_9">
                                <li><a href="javascript:void(0);">Banner Displays, Graphic and Hardware</a></li>
                                <li><a href="javascript:void(0);">Banners and Flags</a></li>
                                <li><a href="javascript:void(0);">Blank Digital Media Fabric &amp; Material</a></li>
                                <li><a href="javascript:void(0);">Event Tents</a></li>
                                <li><a href="javascript:void(0);">Floor Displays</a></li>
                                <li><a href="javascript:void(0);">Retractors &amp; Replacement Parts</a></li>
                                <li><a href="javascript:void(0);">Signage</a></li>
                                <li><a href="javascript:void(0);">Table Coverings</a></li>
                                <li><a href="javascript:void(0);">Table Top Displays</a></li>
                                <li><a href="javascript:void(0);">Total Show Packages</a></li>
                                <li><a href="javascript:void(0);s">Tradeshow Accessories and Promo Aids</a></li>
                                <li><a href="javascript:void(0);">Tradeshow Supplies and Tools</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-right-onhover no-fix">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#id_11" class="dropdown-toggle collapsed">More Promotions</a>
                            <ul class="dropdown-menu collapse no-border-radius no-shadow" id="id_11">
                                <li><a href="javascript:void(0);">Blankets</a></li>
                                <li><a href="javascript:void(0);">Bracelets</a></li>
                                <li><a href="javascript:void(0);">Gift Sets</a></li>
                                <li><a href="javascript:void(0);">Giveaways</a></li>
                                <li><a href="javascript:void(0);">Keychains &amp; Keylights</a></li>
                                <li><a href="javascript:void(0);">Lighting</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style id="style_tag">

@@media (min-width: 768px) {
  .am_style>.dropdown-menu .dropdown-menu {width: 474px;}
}
@@media (min-width: 992px) {
  .am_style>.dropdown-menu .dropdown-menu {width: 500px;}
}

@@media (max-width: 767px) {
  .am_style>.dropdown-menu .dropdown-menu img {
    top: 0!important;
    right: 15px!important;
    width: initial!important;
    height: 100%!important;
    bottom: initial!important;}
}

@@media (min-width: 768px) {
  .am_style>.dropdown-menu .dropdown-menu {min-height: 401px; margin-left: 0!important; margin-top: -1px!important; padding: 15px!important;}
  .am_style>.dropdown-menu>li {position:static!important;}
  .am_style>.dropdown-menu>li>.dropdown-toggle {position:relative;}
  .am_style>.dropdown-menu {border-top: none; min-width: 194px; padding-top: 10px!important; padding-bottom: 10px!important;}
  .navbar .am_style .dropdown-menu li.dropdown-header {padding-left: 0px; padding-right: 0px; color: #e47911;}
  .am_style .dropdown-menu li:hover>a {background-color: transparent!important; color: #e47911!important; }
  .am_style .dropdown-menu .dropdown-menu li>a {background-color: transparent!important; padding-top: 1px; padding-bottom: 1px;}
  .am_style .dropdown-menu .dropdown-menu li:hover>a {font-weight: bold; }


  #clothing_shoes_jewelry {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+2,dae0e5+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 2%, rgba(218,224,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(218,224,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(218,224,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(218,224,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(218,224,229,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 2%,rgba(218,224,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dae0e5',GradientType=1 ); /* IE6-9 */

  }

  #bags_cases {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+56,cccccc+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(252,252,252,1) 56%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(56%,rgba(252,252,252,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 56%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 56%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 56%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 56%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }

}

</style>

<script id="script_tag">
	// Prevent unexpected menu close
	$(window).load(function(){ $(document).on('click', '.navbar .dropdown-menu', function(e){e.stopPropagation();})});
</script>
