@{ 
    Layout = null;
}

<nav class="navbar navbar-inverse-blue" id="main_navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_add_menu_5">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="javascript:void(0);" class="toggle_fixing"><i class="fa fa-chevron-down"></i>&nbsp;</a></li>
            </ul>
            <a class="navbar-brand navbar-left" href="javascript:void(0);"><i class="fa fa-film"></i>&nbsp;<span class="hidden-sm">85+ Animation effects</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar_add_menu_5">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown-short">
                    <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"><i class="fa fa-check-square-o"></i> Short<span class="caret"></span></a>
                    <div class="dropdown-menu" style="min-width:250px;">
                        <h4>What is Lorem Ipsum?</h4>
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </li>

                <li class="dropdown-grid">
                    <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"><i class="fa fa-check-square-o"></i> Custom<span class="caret"></span></a>
                    <div class="dropdown-grid-wrapper">
                        <div class="dropdown-menu col-xs-12 col-sm-5 col-md-5 col-lg-5" role="menu">
                            <h4>Why do we use it?</h4>
                            <p class="text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                    </div>
                </li>
                <li class="dropdown-wide">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle"> Wide <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <h4>Where does it come from?</h4>
                        <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.<br><br>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown-full">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle"> Full <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <h4>Where can I get some?</h4>
                        <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    </div>
                </li>
                <li class="dropdown-grid">
                    <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"><i class="fa fa-check-square-o"></i> Custom<span class="caret"></span></a>
                    <div class="dropdown-grid-wrapper">
                        <div class="dropdown-menu col-xs-12 col-sm-5 col-md-5 col-lg-5" role="menu">
                            <h4>Why do we use it?</h4>
                            <p class="text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                    </div>
                </li>
                <li class="dropdown-short">
                    <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"><i class="fa fa-check-square-o"></i> Short<span class="caret"></span></a>
                    <div class="dropdown-menu" style="min-width:250px;">
                        <h4>What is Lorem Ipsum?</h4>
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script id="script_remove">
$("input[name=animation][value=random]").prop('checked', true);
</script>