@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length {
        float: left;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: center;
        margin-top: 0px;
    }
}

@media screen and (max-width:375px) {
    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em;
        width: 160px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 5px 10px;
    }
}

@media screen and (max-width:320px) {
    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em;
        width: 100px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 5px 8px;
    }
}
