<div class="page-content custom-bkg bkg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-container">
                    <div id="client-carousel" class="owl-carousel owl-carousel-navigation">
                        <div class="owl-item">
                            <img src="~/img/site/brand-thaco.png" />
                        </div>
                        <div class="owl-item">
                            <img src="~/img/site/brand-ford.jpg" />
                        </div>
                        <div class="owl-item">
                            <img src="~/img/site/brand-bmw.jpg" />
                        </div>
                        <div class="owl-item">
                            <img src="~/img/site/brand-honda.jpg" />
                        </div>
                        <div class="owl-item">

                            <img src="~/img/site/brand-audi.jpg" />
                        </div>
                        <div class="owl-item">
                            <img src="~/img/site/brand-acura.jpg" />
                        </div>
                    </div><!-- .owl-carousel.owl-carousel-navigation end -->
                </div><!-- .carousel-container end -->
            </div><!-- .col-md-12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->