<div class="home-specialist background-general" style="background-image: url(/images/background-12.jpg)">
    <div class="container">
        <div class="top-section">
            <h2 class="title-section text-center">CÁC CHUYÊN KHOA</h2>
            <p>
                Bệnh viện Đại Học Buôn Ma Thuột được xây dựng theo mô hình bệnh viện - khách sạn, tiêu chuẩn quốc tế với 9 chuyên khoa, <br />
                hệ thống phòng cấp cứu, hệ thống phòng mổ hiện đại, tiêu chuẩn quốc cùng các khu dịch vụ hỗ trợ.
            </p>
        </div>
        <div class="list-specialist">
            <div class="the-tab">
                <div class="tab-nav">
                    <ul class="bxslider-tab list-inline ">
                        <li class="item-inline active"><a href="#khoa1">Khoa Khám Bệnh</a></li>
                        <li class="item-inline "><a href="#khoa2">Khoa Phụ Sản</a></li>
                        <li class="item-inline "><a href="#khoa3">Khoa Ngoại</a></li>
                        <li class="item-inline "><a href="#khoa4">Khoa Nội</a></li>
                        <li class="item-inline "><a href="#khoa5">Khoa Nhi</a></li>
                        <li class="item-inline "><a href="#khoa6">Chẩn Đoán Hình Ảnh</a></li>
                        <li class="item-inline "><a href="#khoa7">Liên chuyên khoa Mắt – TMH – RHM</a></li>
                        <li class="item-inline "><a href="#khoa8">Khoa Xét nghiệm</a></li>
                        <li class="item-inline "><a href="#khoa9">Khoa Dược</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane-page active" id="khoa1">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Khám Bệnh</h2>
                                    <div class="des-achievements">
                                        Khoa Khám Bệnh &#8211; Bệnh viện Đại Học Buôn Ma Thuột được thành lập và triển khai từ những ngày đầu của Bệnh viện với nhiệm vụ tổ chức khám bệnh, cấp cứu người bệnh và kiểm tra sức khỏe cho bệnh nhân, khách hàng. Khoa có quy trình khám bệnh đơn giản, khoa học, thủ tục nhanh gọn, không để&hellip;											<a href="https://benhvienbmt.com.vn/khoa/khoa-kham-benh/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa2">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Phụ Sản</h2>
                                    <div class="des-achievements">
                                        Tọa lạc tại tầng 7 &#8211; Bệnh viện Đại Học Buôn Ma Thuột, Khoa Phụ Sản được thiết kế như một bệnh viện phụ sản thu nhỏ &#8211; tự hào đáp ứng cả tiêu chí về chuyên môn, kinh nghiệm của đội ngũ bác sĩ lẫn hệ thống cơ sở vật chất, máy móc thiết bị. Đội ngũ bác sỹ Trưởng&hellip;											<a href="https://benhvienbmt.com.vn/khoa/khoa-phu-san/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa3">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Ngoại</h2>
                                    <div class="des-achievements">
                                        ĐỘI NGŨ BÁC SĨ  Khoa Ngoại – Bệnh viện Đại Học Buôn Ma Thuột quy tụ đội ngũ Giáo sư, Tiến sĩ đầu ngành, được đào tạo bài bản từ các trường Đại học y khoa danh tiếng trong nước cũng như quốc tế, có kinh nghiệm làm việc ở các bệnh viện tuyến TW như Hữu nghị Việt Đức; Bạch&hellip;											<a href="https://benhvienbmt.com.vn/khoa/khoa-ngoai/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa4">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Nội</h2>
                                    <div class="des-achievements">
                                        Khoa Nội là một chuyên khoa mũi nhọn được Bệnh viện Đại Học Buôn Ma Thuột đặc biệt chú trọng. Bệnh viện Đại Học Buôn Ma Thuột là một bệnh viện tiên phong trong việc ứng dụng các phương pháp điều trị nội khoa hoàn toàn mới, những phương pháp tiến bộ đang được áp dụng ở nhiều nước phát triển, mang&hellip;											<a href="https://benhvienbmt.com.vn/khoa/khoa-noi/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa5">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Nhi</h2>
                                    <div class="des-achievements">
                                        Khoa nhi mang lại chất lượng chăm sóc sức khỏe tốt nhất cho bệnh nhi trên địa bàn Thủ đô và các tỉnh lân cận. Mang lại cho bệnh nhi dịch vụ y tế cao cấp theo tiêu chuẩn quốc tế. Đội ngũ Y Bác sĩ được đào tạo bài bản tại các trường đại học Y khoa hàng đầu&hellip;											<a href="https://benhvienbmt.com.vn/khoa/khoa-nhi/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa6">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Chẩn Đoán Hình Ảnh</h2>
                                    <div class="des-achievements">
                                        Chẩn đoán hình ảnh có vai trò quan trọng cho chẩn đoán sớm và có tính chất xác định nhiều bệnh để từ đó đưa ra phương pháp chữa trị hay phương pháp phẫu thuật hiệu quả nhất. Vì vậy, Bệnh viện Đại Học Buôn Ma Thuột đã coi Khoa Chẩn đoán Hình ảnh là một khoa mũi nhọn trong hoạt&hellip;											<a href="https://benhvienbmt.com.vn/khoa/chan-doan-hinh-anh/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa7">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Liên chuyên khoa Mắt – TMH – RHM</h2>
                                    <div class="des-achievements">
                                        Khoa Liên Chuyên Khoa là một khoa ghép của các chuyên khoa: Mắt – Tai Mũi Họng với các chức năng chính là Điều trị nội trú/ ngoại trú/khám/ chữa các bệnh chuyên khoa Mắt – Tai, Mũi, Họng, Răng – Hàm – Mặt. Khoa Liên chuyên khoa, Bệnh viện Đại Học Buôn Ma Thuột hội tụ đội ngũ bác sĩ&hellip;											<a href="https://benhvienbmt.com.vn/khoa/lien-chuyen-khoa-mat-tmh-rhm/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa8">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Xét nghiệm</h2>
                                    <div class="des-achievements">
                                        Khoa Xét nghiệm – Bệnh viện Đại Học Buôn Ma Thuột là trung tâm xét nghiệm đồng bộ với đầy đủ các lĩnh vực: sinh hóa – miễn dịch, huyết học – truyền máu, miễn dịch, vi sinh – sinh học phân tử và giải phẫu bệnh, đảm bảo đạt tiêu chuẩn cao xét nghiệm thường qui và xét nghiệm chuyên sâu chẩn đoán bệnh&hellip;											<a href="https://benhvienbmt.com.vn/khoa/khoa-xet-nghiem/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa9">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Dược</h2>
                                    <div class="des-achievements">
                                        Khoa Dược hoạt động từ những ngày đầu thành lập Bệnh viện Đại Học Buôn Ma Thuột, đảm bảo nhiệm vụ cung ứng, cấp phát thuốc vật tư tiêu hao phục vụ điều trị nội trú và bán thuốc theo đơn kê của Bác sĩ. Khoa Dược phối hợp với các bác sĩ lâm sàng theo dõi, kiểm tra, đánh giá,&hellip;											<a href="https://benhvienbmt.com.vn/khoa/khoa-duoc/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienbmt.com.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienbmt.com.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>