@*<div class="page-content parallax parallax02 mb-70 dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-heading02 simple">
                    <h2>The company promise</h2>
                </div><!-- .custom-heading02 end -->

                <div class="statement">
                    <p>
                        As a contractor we promise to take care of all
                        supply chain management, to make your shipments
                        travel safe, fast and on time.
                    </p>
                </div>
            </div><!-- .col-md-12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->*@

@*<section class='page-content custom-background image-background dark' style='background-image: url(http://pixel-industry.com/wordpress/trucking/wp-content/uploads/2015/09/parallax02.jpg);background-size: cover;background-repeat: repeat;margin-bottom: 80px;'>
    <section class='container'>
        <div class='row' style=''>
            <div class='col-md-12 ' style=''>
                <div class='custom-heading02 simple'>
                    <h2>The company promise</h2>
                </div><div class='cma-wysiwyg-editor'><h3 style="text-align: center;">As a contractor we promise to take care of all supply chain management, to make your shipments travel safe, fast and on time.</h3></div>
            </div>
        </div>
    </section>
</section>*@
   
    <img src="~/img/site/hotline.jpg" class="mb-30" />