<div class="home-specialist background-general" style="background-image: url(/images/background-12.jpg)">
    <div class="container">
        <div class="top-section">
            <h2 class="title-section text-center">CÁC CHUYÊN KHOA</h2>
            <p>
                Bệnh viện Đại Học Buôn Ma Thuột được xây dựng theo mô hình bệnh viện - khách sạn, tiêu chuẩn quốc tế với 9 chuyên khoa, <br />
                hệ thống phòng cấp cứu, hệ thống phòng mổ hiện đại, tiêu chuẩn quốc cùng các khu dịch vụ hỗ trợ.
            </p>
        </div>
        <div class="list-specialist">
            <div class="the-tab">
                <div class="tab-nav">
                    <ul class="bxslider-tab list-inline ">
                        <li class="item-inline active"><a href="#khoa1">Khoa Khám Bệnh</a></li>
                        <li class="item-inline "><a href="#khoa2">Khoa Phụ Sản</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane-page active" id="khoa1">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Khám Bệnh</h2>
                                    <div class="des-achievements">
                                        Khoa Khám Bệnh &#8211; Bệnh viện Đại Học Buôn Ma Thuột được thành lập và triển khai từ những ngày đầu của Bệnh viện với nhiệm vụ tổ chức khám bệnh, cấp cứu người bệnh và kiểm tra sức khỏe cho bệnh nhân, khách hàng. Khoa có quy trình khám bệnh đơn giản, khoa học, thủ tục nhanh gọn, không để&hellip;											<a href="https://benhvienphuongdong.vn/khoa/khoa-kham-benh/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane-page " id="khoa2">
                        <div class="list-achievements-prizes">
                            <div class="item-achievements-prizes list-inline">
                                <div class="achievements-item prizes-item item-inline">
                                    <h2>Khoa Phụ Sản</h2>
                                    <div class="des-achievements">
                                        Tọa lạc tại tầng 7 &#8211; Bệnh viện Đại Học Buôn Ma Thuột, Khoa Phụ Sản được thiết kế như một bệnh viện phụ sản thu nhỏ &#8211; tự hào đáp ứng cả tiêu chí về chuyên môn, kinh nghiệm của đội ngũ bác sĩ lẫn hệ thống cơ sở vật chất, máy móc thiết bị. Đội ngũ bác sỹ Trưởng&hellip;											<a href="https://benhvienphuongdong.vn/khoa/khoa-phu-san/">Xem chi tiết <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="list-achievements item-inline">
                                    <div class="slider-achievements-prizes">
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/cac-goi-kham-suc-khoe/"><img width="420" height="350" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/02/kham_suc_khoe_tong_quat_thumnails-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/cac-goi-kham-suc-khoe/">Các gói khám sức khỏe</a></h3>
                                            <div class="des-introduction">Ngày càng nhiều người quan tâm đến dịch vụ khám tổng quát bởi tầm quan trọng của nó đối với bảo&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/chan-doan-hinh-anh/"><img width="406" height="242" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/01/z1278250718343_529ddb08182727a9746d628369031be7-e1555500514306.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/chan-doan-hinh-anh/">Chẩn đoán hình ảnh</a></h3>
                                            <div class="des-introduction">Hiểu rõ tầm quan trọng của chẩn đoán hình ảnh trong việc phát hiện sớm và chẩn đoán chính xác bệnh,&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/"><img width="420" height="350" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/01/01-1200X900-420x350.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="gói tư vấn &amp; tiêm chủng vắc xin" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/goi-tu-van-tiem-chung-vac-xin/">Gói tư vấn và tiêm chủng Vắc xin</a></h3>
                                            <div class="des-introduction">Trung tâm Tiêm chủng Bệnh viện Đại Học Buôn Ma Thuột được thành lập với mục tiêu “Tiêm chủng cho một tương&hellip;</div>
                                        </div>
                                        <div class="item-slider">
                                            <div class="thumbnail"><a href="https://benhvienphuongdong.vn/dich_vu/goi-tam-soat-ung-thu/"><img width="406" height="242" src="https://benhvienphuongdong.vn/wp-content/uploads/2019/01/z1278250718352_986e8adfeb6755bcf8275aed564ed3fb-e1555500598715.jpg" class="attachment-home_mobile size-home_mobile wp-post-image" alt="" /></a></div>
                                            <h3><a href="https://benhvienphuongdong.vn/dich_vu/goi-tam-soat-ung-thu/">Gói tầm soát ung thư</a></h3>
                                            <div class="des-introduction">Bệnh viện Đại Học Buôn Ma Thuột là bệnh viện hàng đầu tại Việt Nam sở hữu hệ thống cơ sở vật&hellip;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</div>