/****
Reset MixColors
****/

/*html, body, 
div,
span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}*/


	a:focus {
		text-decoration: none;
		color: inherit;
		outline: none;
	}

/*img{
	border:none;
	max-width:100%;	
	height: auto;
}



.nodata {
	text-align:center;
	padding:50px 20px;
	color:#000;
	font-size:16px;
}
.nodata span {
	display:block;
	font-size:20px;
}*/